@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500,600;700&display=swap');

html {

}

body {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Gilroy';
    background-color: #0b1d26;
    background-image: url("../img/mountains-summer-sunny.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}


/* BASE */

.container-wide {
    margin: 0 auto;
    width: 1760px;
    padding: 0 15px;
}


.row {
    display: flex;
}

.space-between {
    justify-content: space-between;
}



/* HEADER */

.header {
    padding-top: 64px;
    padding-bottom: 843px;
}


.logo {
    font-family: 'Playfair Display', serif;
    font-weight: 700px;
    font-size: 32px;
}

.nav {
    font-weight: 700;
    font-style: 18px;
}

.nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav li + li {
    margin-left: 40px;
}
.nav a:hover {
    color: #fbd784;
}

.nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in; 
    /* transition: плавно менялся цвет; */
}

.account {
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s ease-in;
}

.account:hover {
    color: #fbd784;
}

.nav-wrapper {
    margin-bottom: 198px;
}

/* HERO */

.hero {
    display: block;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 843px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    transition: transform 0.5s cubic-bezier(0.660, 0.215, 0.295, 1.640);
}


.hero:hover {
    transform: translateY(-5%);
}

.hero-category {
    margin-bottom: 32px;
    position: relative;
    font-weight: 800;
    padding-left: 50px;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.hero-category::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.hero-title {
    margin-bottom: 32px;
    font-family: "Playfair Display";
    font-style: normal; 
    font-weight: 500; 
    font-style: 88px;
    line-height: 1.136;
    text-transform: capitalize;
    color: #FFFFFF;
}

.hero-scroll {
    display: inline-block;
    position: relative;
    padding-right: 32px;
    font-weight: 700;
    font-style: 18px;
    line-height: 1.222;
    color: #FFFFFF;
}

.hero-scroll::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    width: 28px;
    height: 24px;
    left: 105px;
    background-image: url('/img/iconmonstr-arrow-down-thin.svg');
    background-repeat: no-repeat;
    transform: translate(-50%);
}

/* MAIN */

.container {
    max-width: 1492px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.main {
    margin-top: -200px;
}

.article:nth-child(even){
    flex-direction: row-reverse;
}

.article {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-text {
    position: relative;
    padding-left: 150px;
    max-width: 782px;
}

.article-text::before {
    position: absolute;
    left: 0;
    top: -50%;
    transform: translateY(-50%);
    display: block;
    content: attr(data-number);
    width: 240px;
    height: 240px;
    font-style: normal;
    font-weight: 700;
    font-size: 240px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.1);
}

.article-subtitle {

}

.article-subtitle {
    margin-bottom: 32px;
    position: relative;
    font-weight: 800;
    padding-left: 50px;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.article-subtitle::before {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%);
    display: block;
    content: "";
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}




.article-title {
    margin-bottom: 27px;
    min-width: 555px;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 1.2;
    color: #FFFFFF;
}

.article-text p {
    margin-bottom: 27px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.article-read-more {
    display: inline-block;
    position: relative;
    padding-right: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.222;
    color: #FBD784;
}

.article-read-more::after {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    width: 24px;
    height: 25px;
    background-image: url('/img/iconmonstr-arrow-right-thin.svg');
    background-repeat: no-repeat;
    transform: translate(-50%);
}


.article-img img {
    display: block;
}


/* FOOTER */


.footer {

}

.footer-copyright {

}

.footer-copyright-logo {

}

.footer-copyright-desc {

}

.footer-copyright-terms {

}

.footer-nav {

}

.footer-nav-title {

}
